/* ---------------- GENERAL ---------------- */
* {
  border: none;
  border-radius: 10px;
  font-family: "CaskaydiaCove NF";
  font-size: 16px;
  min-height: 10px;
}

.module {
  margin-left: 3px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d0700;
  border: 3px solid;
  opacity: 0.8;
}

/* ---------------- LEFT ---------------- */
#cpu {
  margin-left: 6px;
  border-color: #d67569;
}

#memory {
  border-color: #ffbd7a;
}

#workspaces {
  transition: none;
  border-color: #f2de77;
}
#workspaces button {
  background-color: transparent;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#workspaces button.visible {
  font-weight: bold;
  background-color: #ffd500;
  color: #0d0700;
  opacity: 1;
}
#workspaces button:hover {
  background-color: #219fe3;
}
#workspaces button.urgent {
  background-color: #fb4934;
}

#mpris {
  border-color: #9bb36d;
}
#mpris.paused {
  color: #625e56;
}
#mpris.stopped {
  color: #625e56;
}

/* ---------------- CENTRE ---------------- */
window#waybar {
  background: transparent;
}
#window {
  font-weight: bold;
  padding-left: 32px;
  padding-right: 32px;
  border-color: #6ebd87;
}
window#waybar.empty #window{
  background-color: transparent;
  border: none;
}

/* ---------------- RIGHT ---------------- */

#privacy-item {
  margin-left: 3px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d0700;
  border: 3px solid #5fbdb2;
  opacity: 0.8;
}

#pulseaudio {
  border-color: #78bde3;
}
#pulseaudio.muted {
  color: #625e56;
}

#tray {
  border-color: #c2a1ff;
}

#clock {
  border-color: #e197e8;
}

#custom-weather {
  border-color: #f79cc9;
  margin-right: 6px;
}
