/* ---------------- GENERAL ---------------- */
* {
  border: none;
  border-radius: 10px;
  font-family: "CaskaydiaCove NF";
  font-size: 16px;
  min-height: 10px;
}

.module {
  margin-left: 3px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d0700;
  border: 3px solid;
  opacity: 0.8;
}

/* ---------------- LEFT ---------------- */
#cpu {
  margin-left: 6px;
  border-color: #ca4f3c;
}

#memory {
  border-color: #af642b;
}

#workspaces {
  transition: none;
  border-color: #7f7b00;
}
#workspaces button {
  background-color: transparent;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#workspaces button.visible {
  font-weight: bold;
  background-color: #c8bc00;
  color: #0d0700;
  opacity: 1;
}
#workspaces button:hover {
  background-color: #cd9fff;
}
#workspaces button.urgent {
  background-color: #ffbca0;
}

#mpris {
  border-color: #4a860e;
}
#mpris.paused {
  color: #625e56;
}
#mpris.stopped {
  color: #625e56;
}

/* ---------------- CENTRE ---------------- */
window#waybar {
  background: transparent;
}
#window {
  font-weight: bold;
  padding-left: 32px;
  padding-right: 32px;
  border-color: #168945;
}
window#waybar.empty #window{
  background-color: transparent;
  border: none;
}

/* ---------------- RIGHT ---------------- */

#privacy-item {
  margin-left: 3px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0d0700;
  border: 3px solid #138580;
  opacity: 0.8;
}

#pulseaudio {
  border-color: #147db9;
}
#pulseaudio.muted {
  color: #625e56;
}

#tray {
  border-color: #845ee4;
}

#clock {
  border-color: #b74ab7;
}

#custom-weather {
  border-color: #c24e7c;
  margin-right: 6px;
}
